<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload Files</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body> 
        <nav class="navbar bg-dark mb-4" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "home" %}">Files</a>
            </div>
        </nav>
        <div class="container">
            <div class="mb-3">
                <form method="POST" action="{% url 'home' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="formFileMultiple" class="form-label">Anexe seus arquivos abaixo.</label>
                    <input class="form-control" type="file" name="file" />
                    <input type="submit" class="btn btn-primary mt-3" value="Enviar" />
                </form>
            </div>
        </div>
  </body>
</html>

